
// Functions first
@import "../../node_modules/bootstrap/scss/bootstrap";

$color1:#D01A48;
$color2:#CC9650;
$color3:#73BF00;

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }

  /*導覽列-nav*/


nav{


div a.navbar-brand{
    flex:2;
    } 

div.collapse{
    flex:3;
   
    .navbar-nav{
        font-size: 1.2vw;
        text-align: center;
        align-items: center;
        position: relative;

        /*之後做單個連結會用到-關於我們*/
        // .active{
        //     background-color:$color1;
        //     border-radius: 50px;
        // }

        div.nav-link{
            line-height: 15px;
            margin-right:10px;
            
        a{
            color:white;
            text-decoration:none;
        }   



        li a{
            color:black;
            text-decoration:none;
            
        }


        
              
        }
    }
        

}

}
        
    div.nav-icon{
    display:flex;
    flex:1;
    }




// 此區為下選單
div.nav-link ul {
        display: none;
    }

div.nav-link:hover{
    background-color:$color1;
    border-radius: 10px;

}

div.nav-link:nth-child(3):hover{
    background-color:$color2;
    border-radius: 10px;

}

div.nav-link:nth-child(4):hover{
    background-color:$color3;
    border-radius: 10px;

}

div.nav-link:hover ul{
    display: block;
    position: absolute;
    padding:0;
    left: 0;
    top:3vw;
}

div.nav-link:hover .ul2{
    display: block;
    position: absolute;
    left: 7vw;
    top:3vw;
}

div.nav-link:hover .ul3{
    display: block;
    position: absolute;
    left: 13.5vw;
    top:3vw;
}

div.nav-link:hover .ul4{
    display: block;
    position: absolute;
    left: 20vw;
    top:3vw;
}

div.nav-link:hover .ul5{
    display: block;
    position: absolute;
    left: 27vw;
    top:3vw;
}

div.nav-link:hover .ul6{
    display: block;
    position: absolute;
    left: 34vw;
    top:3vw;
    text-align: left;
}

div.nav-link .ul1 li{
    background-color:rgb(219, 219, 223);
    list-style: none;
    padding-right:5vw ;
    line-height: 40px;
    font-size: 1vw;
}   

div.nav-link .ul2 li{
    background-color:rgb(219, 219, 223);
    list-style: none;
    padding-right: 6vw;
    line-height: 40px;
    font-size: 1vw;
    padding-left:1vw ;
}  

div.nav-link .ul3 li , 
div.nav-link .ul4 li{
    background-color:rgb(219, 219, 223);
    list-style: none;
    padding-right: 7vw;
    line-height: 40px;
    font-size: 1vw;
    padding-left:1vw ;
}  


div.nav-link .ul5 li{
    background-color:rgb(219, 219, 223);
    list-style: none;
    padding-right: 6vw;
    line-height: 40px;
    font-size: 1vw;
    padding-left:1vw ;

}


div.nav-link .ul6 li{
    background-color:rgb(219, 219, 223);
    list-style: none;
    padding-right:5vw ;
    line-height: 40px;
    font-size: 1vw;
    white-space: nowrap;
    padding-left:1vw; 
}

div.nav-link ul li:hover{
    background-color:rgb(238, 238, 238); }

//以上為nav的CSS

//以下為header的CSS

header {
    div img{
        width: 1400px;
        height: 600px;
        background-color: #000000;

    }

    #carouselExampleIndicators{
        
        button {
            width: 13px;
            height: 33px;
            background-image: url("/img/index/music.svg");
            background-size: cover;
                // position: absolute;
        &.active {
            border: 2px solid red;
                  }        

        }
          }



    div.carousel-indicators {
        justify-content: end;
        margin-right: 30px;
    }
     
 


    div.carousel-item img{
        width:1400px;
    }
    





}
    // 輪播 問老師

// div.banner-1{
//     background-image: url("img/index/bg-32.png");
//     width:1400px;
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;       
//     mask-image:;
// }
// div.banner-2{
//     background-image: url("img/index/bg-33.png");
//     width:1400px;
// }
// div.banner-3{
//     background-image: url("img/index/bg-34.png");
//     width:1400px;
// }


//section-1

#section-1{
    background-color: $color1;
    
    div.container {
        min-width: 100%;
    }

    div.container div.container-item{
        font-size: 2vw;
        letter-spacing: 0.3vw;
        justify-content: flex-end;
        margin: 0 3vw 2vw 0;
    }

    div.container div.card {
     
        border: none;



    div.card-item-1{
        background-color: $color2;
        position: relative;
    
        }
        
    div.card-item-2{
        background-color:$color3;
        position: relative;

        }        
        
    img.card-icon{
        display: block;
        float:left;
        padding-right:1vw;
        padding-left:0.5vw;} 
    
    p.card-text1 {
        padding-top: 1vw;
        margin-left:1vw;
        a{
        font-size: 2vw;
        text-decoration:none;
        color:white;}}



    p.card-text2 {  
      margin-right: 2vw;
        text-decoration:none;
        color:white;}

    div.card-text3-1 a{
        // color:$color2;
        text-decoration:none;
        color:black;
        position: absolute;
        right: 2vw;
        bottom: 1vw;
    }
        
    

    div.card-text3-2 a{
        // color:$color3;
        text-decoration:none;
        color:black;
        position: absolute;
        right: 2vw;
        bottom: 1vw;
    }

    }

    //zoom in 問題
    .card-zoom
    { 
        // background-image: url("img/index/bg-34.png");
        transition: 0.5s all ease-in-out;
        width:100%;

    }
    .card-zoom:hover{
        transform: scale(110%);

    }

    }
  
    //  #section-2

 #section-2{

    div.container{
        min-width: 100%;
    }

    div.container-item{
        font-size: 2vw;
        letter-spacing: 0.3vw;
        margin: 2vw 0 0 2vw
    }

    div.card a.btn-two{
        background-color: $color1;
        color:white;
        padding: 0.1vw 1vw;
        

    }

    div.card a.btn-one{
        background-color: $color3;
        color:white;
        padding: 0.1vw 1vw;
        

    }

    div.card div.card-body h4.card-title{
        padding-top:1vw;}

    div.card div.card-body p.card-text{
        position: relative;
        line-height: 2vw;
        height:6vw;
        overflow: hidden;    

        ::after {
            content: "...";
            font-weight: bold;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0 20px 1px 45px;} }
    
    p.card-float{
        float: right;
    } 
            
 }

 // #section-3

 #section-3{

    margin-top: 2vw;

    .container{

        border:2px solid white;
        border-radius: 10px;
        min-width: 100%;
        position: relative;


        div.card a.btn-one{
            background-color: $color1;
            color:white;
            padding: 0.1vw 1vw;
            margin-top: 2vw;
            margin-left: 0.5vw;           
    
        }
        div.card a.btn-two{
            background-color: $color2;
            color:white;
            padding: 0.1vw 1vw;
            margin-top: 2vw;     
            margin-left: 1vw;   
    
        }
        div.card a.btn-three{
            background-color: $color3;
            color:white;
            padding: 0.1vw 1vw;
            margin-top: 2vw;          
            margin-left: 1vw;      
        }

        div.card p.card-day{
            position: absolute;
            bottom: 0;
            font-size: 0.8vw;
            left: 17.5vw;
            bottom: 1vw;

        }

        div.col-md-2 img{
            height:100%;

        }

    }

    .div-bg{
        background-image: url('../img/index/bg-38.png');}
    
    .div-bg-two{
        background-image: url('../img/index/bg-39.png');} 
    
    .div-bg-three{
        background-image: url('../img/index/bg-40.png');}
      
    div.col-md-2{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%; }      
    .card-height{
        height: 162px;
        }

    div.card div.card-body p.card-text{
        position: relative;
        line-height: 2vw;
        height:6vw;
        overflow: hidden;    
    
    ::after {
        content: "...";
        font-weight: bold;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0 20px 1px 45px;} }    
        
    .card-zoom
        { 
         // background-image: url("img/index/bg-34.png");
        transition: 0.5s all ease-in-out;
        
        }
    .card-zoom:hover{
        transform: scale(110%);
        
        }        

 }



//  background-color: $color3;
//  color:white;
//  padding: 0.1vw 1vw;
#section-4{
    div{
        font-size: 1.8vw;
        margin: 2vw 0 0 2vw;
        color: $color1;
        text-align: end;
        margin-right: 4vw;
        font-weight: bold;

    }

}


     