
// Functions first
@import "../../node_modules/bootstrap/scss/bootstrap";

$color1:#D01A48;

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }

  /*導覽列-nav*/

body{
    background-color: green;
}

nav{


div a.navbar-brand{
    flex:2;
    } 

div.collapse{
    flex:3;
   
    .navbar-nav{
        font-size: 1.2vw;
        text-align: center;
        align-items: center;
        position: relative;

        /*之後做單個連結會用到-關於我們*/
        // .active{
        //     background-color:$color1;
        //     border-radius: 50px;
        // }

        div.nav-link{
            line-height: 15px;
            margin-right:10px;
            
        a{
            color:white;
            text-decoration:none;
        }   



        li a{
            color:black;
            text-decoration:none;
            
        }


        
              
        }
    }
        

}

}
        
    div.nav-icon{
    display:flex;
    flex:2;
    }




// 此區為下選單
div.nav-link ul {
        display: none;
    }

div.nav-link:hover{
    background-color:$color1;
    border-radius: 10px;

}

div.nav-link:hover ul{
    display: block;
    position: absolute;
    padding:0;
    left: 0;
    top:3vw;
}

div.nav-link:hover .ul2{
    display: block;
    position: absolute;
    left: 7vw;
    top:3vw;
}

div.nav-link:hover .ul3{
    display: block;
    position: absolute;
    left: 13.5vw;
    top:3vw;
}

div.nav-link:hover .ul4{
    display: block;
    position: absolute;
    left: 20vw;
    top:3vw;
}

div.nav-link:hover .ul5{
    display: block;
    position: absolute;
    left: 27vw;
    top:3vw;
}

div.nav-link:hover .ul6{
    display: block;
    position: absolute;
    left: 34vw;
    top:3vw;
}

div.nav-link .ul1 li{
    background-color:rgb(219, 219, 223);
    list-style: none;
    padding-right:5vw ;
    line-height: 40px;
    font-size: 1vw;
}   

div.nav-link .ul2 li{
    background-color:rgb(219, 219, 223);
    list-style: none;
    padding-right: 6vw;
    line-height: 40px;
    font-size: 1vw;
    padding-left:1vw ;
}  

div.nav-link .ul3 li , 
div.nav-link .ul4 li{
    background-color:rgb(219, 219, 223);
    list-style: none;
    padding-right: 7vw;
    line-height: 40px;
    font-size: 1vw;
    padding-left:1vw ;
}  


div.nav-link .ul5 li{
    background-color:rgb(219, 219, 223);
    list-style: none;
    padding-right: 6vw;
    line-height: 40px;
    font-size: 1vw;
    padding-left:1vw ;

}


div.nav-link .ul6 li{
    background-color:rgb(219, 219, 223);
    list-style: none;
    padding-right:5vw ;
    line-height: 40px;
    font-size: 1vw;
    white-space: nowrap;
    padding-left:1vw ;
}

div.nav-link ul li:hover{
    background-color:rgb(238, 238, 238); }


 


            // ul{ 
        // //     display: block;
        // //     position: absolute;
        // //     padding:0;
        // //     left: 0;
        // //     top:3vw;
        //     display: none;


        // // }



        // // ul li{
        // //     display: block;
        // //     list-style: none;
        // //     background-color:blue;
        // //     padding-right:5vw ;
        // //     line-height: 40px;
        // //     font-size: 1.2vw;
        // //     // text-align: right;
        // // }
